name: Push
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'
  workflow_dispatch: ~
permissions:
  contents: read
jobs:
  LINUX:
    if: github.repository == 'marc-mabe/php-timelib' || github.event_name == 'pull_request'
    strategy:
      matrix:
        platform: [amd64, i386]
        php_version: [8.4, 8.5]
    name: "LINUX"
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - name: git checkout
        uses: actions/checkout@v4
      - name: build docker
        run: make build-php-${{ matrix.php_version }}-${{ matrix.platform }}
      - name: comport install
        run: make composer-install-php-${{ matrix.php_version }}
      - name: test polyfill unit
        run: make test-php-${{ matrix.php_version }}
      - name: test polyfill phpstan
        run: make test-phpstan-${{ matrix.php_version }}
